<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> James's Journal'</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1>James Hemmaplardh's Learning Journal</h1>
      </a>
      <nav>
        <ul id="menu">
          <li><a href="home.html" class="selected">Home</a></li>
          <li><a href="detail.html" >Detail</a></li>
          <li><a href="new.html" >New</a></li>
          <li><a href="edit.html" >Edit</a></li>
        </ul>
      </nav>
    </header>
     <ol id="entries">
       <h2> JOURNAL ENTIRY DETAILS: </h2>
        <p> Title | Text | Date Created </p> 
     </ol> 
      <main>
        edit entry
      <input id="edit" value="text"></input>
    </main>
 <footer>
   <a href="home.html"> To return home, select the Home button above or select this text.
  </footer>
</html>